* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.headline {
    padding: 10px;
    background-color: rgb(23, 64, 139);
    color: white;
    text-align: center;
    font-size: large;

}

.team-area {
    text-align: center;
}

.team-area > p, .search-area > p {
    font-size: large;
    color: rgb(23, 64, 139);
    font-weight: bold;
    font-size: x-large;
    margin: 20px;
    text-align: center;
}
.flex-cards {
    display: flex;
    justify-content: space-around;
}

/* כרטיסי השחקנים */
.card {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #eeeeee;
    box-shadow: 2px 2px 5px gray;
    padding: 1.5em;
}
.card * + * {
    margin-top: 1em;
}
.card *:first-child {
    color: rgb(23, 64, 139);
    font-weight: bolder;
}

.search-area {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.search-area div {
    background-color: #eeeeee;
    width: 50%;
    margin-left: 25%;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #eeeeee;
}

/* הטופס */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
}
select {
    padding: 0.5em;
    border-radius: 5px;
}
form * + * {
    margin-top: 5px;
}
form input[type="submit"] {
    width: 40%;
}
form input, form select {
    width: 80%;
}

table, form {
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: center;
    
}
th {
    background-color: rgb(213, 76, 76);
    color: white;
}
td, th {
    border: 1px solid #cccccc;
    padding-top: 7px;
    padding-bottom: 7px;
}
button, input[type="submit"] {
    background-color: rgb(23, 64, 139);
    color: white;
    border-radius: 5px;
    padding: 1em;
    border: none;
}
button {
    width: 90%;
}

label {
    background-color: #333333;
    padding: 0.5em;
    border-radius: 5px;
    font-size: small;
    color: white;
}

.send, .clear{
    position: fixed;
    top: 50px;
    left: 40px;
    width: 10%;
    height: 10%;
    
    color: white;
    padding: 5px;
    font-size: large;
    box-shadow: 10px 10px 20px gray;
}
.send:hover, .clear:hover {
    cursor: pointer;
}

.send{
    top: 50px;
    background-color: green;
}
.clear {
    top: 150px;
}